<app-headerb></app-headerb>
<div class="container">
    <div class="row"> 
        <div class="col">
            <h1 class="subtitulo-lp">My Products</h1>
            <hr><br><br>
        </div>
    </div>
    <div *ngIf="nuevoProducto == false" class="row">
        <div class="col text-center">
            <button  type="button" class="btn btn-color btn-lg" (click)="addProducto(true)">New product <i class="fas fa-tshirt"></i></button>
        </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 10px;padding-bottom: 10px;">
        <div class="col-12 col-md-4 text-center">
            <form class="form-inline">
                <div class="custom-file">
                    <input (change)="onChanged($event)" type="file" class="custom-file-input" id="validatedCustomFile">
                    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                </div>
            </form>
            <button (click)="subir(this.file)" class="btn btn-primary">Upload</button>
        </div>
    </div>
    <div *ngIf="nuevoProducto == true;" class="row centrar">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px; margin-top: 10%;">
                
                    <div class="card-body">
                        <h5 class="card-title">New Product</h5>
                        <hr><br><br>
                        <div class="form-group">
                            <label for="newName">Name Product</label>
                            <input [(ngModel)]="NEW_PRODUCT.nombre" type="text" class="form-control" id="newName">
                        </div>
                        <div class="form-group">
                            <label for="newPrice">Price</label>
                            <input [(ngModel)]="NEW_PRODUCT.precio" type="text" class="form-control" id="newPrice">
                        </div>
                        <div class="form-group">
                            <label for="newDescription">Description</label>
                            <input [(ngModel)]="NEW_PRODUCT.descripcion" type="text" class="form-control" id="newDescription">
                        </div>
                        <div class="form-group">
                            <label for="newQuantity">Quantity</label>
                            <input [(ngModel)]="NEW_PRODUCT.cantidad" type="text" class="form-control" id="newQuantity">
                        </div>
                        <div class="form-group">
                            <label for="newColor">Color</label>
                            <input [(ngModel)]="NEW_PRODUCT.color" type="text" class="form-control" id="newColor">
                        </div>
                        <div class="custom-file">
                            <input [(ngModel)]="NEW_PRODUCT.imagen" (change)="onFileChanged($event)" type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile" data-browse="Image">Choose File</label>
                        </div>
                        <p>Departament</p>
                        <select [(ngModel)]="nombre" class="form-control">
                            <option *ngFor="let categoria of CATEGORIAS">{{categoria.nombre}}</option>
                        </select>
                        <button class="btn btn-primary" (click)="insertProducto(false)">Submit</button>
                    </div>
            </div>
        </div>
    </div>
    <div *ngIf="editarProducto == true;" class="row">
        <div class="col">
            <div class="card mb-3 centrar" style="max-width: 540px; margin-top: 10%;">
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Update Product</h5>
                        <hr><br><br>
                        <div class="form-group">
                            <label for="updateName">Name Product</label>
                            <input type="text" [(ngModel)]="NEW_PRODUCT.nombre" class="form-control" id="updateName">
                        </div>
                        <div class="form-group">
                            <label for="updatePrice">Price</label>
                            <input type="text" [(ngModel)]="NEW_PRODUCT.precio" class="form-control" id="updatePrice">
                        </div>
                        <div class="form-group">
                            <label for="updateDescription">Description</label>
                            <input type="text" [(ngModel)]="NEW_PRODUCT.descripcion" class="form-control" id="updateDescription">
                        </div>
                        <div class="form-group">
                            <label for="updateQuantity">Quantity</label>
                            <input type="text" [(ngModel)]="NEW_PRODUCT.cantidad" class="form-control" id="updateQuantity">
                        </div>
                        <div class="form-group">
                            <label for="updateColor">Color</label>
                            <input type="text" [(ngModel)]="NEW_PRODUCT.color" class="form-control" id="updateColor">
                        </div>
                        <button class="btn btn-primary" (click)="updateProducto(false)">Submit</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 10px;">
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let producto of ELEMENT_DATA">
            <div class="card" style="width: 18rem; padding-top: 7px;">
                <img src="{{producto.imagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <p class="card-text"><span>$ </span>{{producto.precio}}</p>
                    <p class="card-text">{{producto.cantidad}}<span> units</span></p>
                    <button class="btn btn-primary" (click)="upProducto(producto, true)">Update</button>
                    <button class="btn btn-danger" (click)="deleteProducto(producto.id_producto)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
