<<app-header></app-header>

<div class="container-sm">
    <div class="row">
        <div class="col">
            <h1 class="titulo-lp">ALIE-SELL</h1>
            <p class="texto-lp texto">Our vision is to be earth's most customer-centric company; to build a place where people can come to find and discover anything they might want to buy online.</p>
            <div class="text-center">
                <img src="../../assets/logocb.png" class="img-fluid" alt="logo" style="width: 30%;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="75%" src="../../assets/presentacion.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="texto-lp display-2">Mission</h1>
            <hr><br><br>
            <p class="texto-lp texto">We strive to offer our customers the lowest possible prices, the best available selection, and the utmost convenience.</p>
        </div>
        <div class="col">
            <h1 class="texto-lp display-2">Vision</h1>
            <hr><br><br>
            <p class="texto-lp texto">to be Earth’s most customer-centric company, where customers can find and discover anything they might want to buy online.</p>
        </div>
    </div>
</div>

