<app-headerb></app-headerb>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="subtitulo-lp">Users</h1>
            <hr><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card border-info mb-3" style="max-width: 35rem;">
                <div class="card-header">New User</div>
                <div class="card-body text-info">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input [(ngModel)]="NUEVO.nombre" type="text" class="form-control" id="InputName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input [(ngModel)]="NUEVO.apellido" type="text" class="form-control" id="InputLastName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input [(ngModel)]="NUEVO.correo" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input [(ngModel)]="NUEVO.contrasenia" type="password" class="form-control" id="InputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="InputDate">B-Day</label>
                        <input [(ngModel)]="NUEVO.fecha_nacimiento" type="text" class="form-control" id="InputDate">
                    </div>
                    <div class="form-group">
                        <label for="InputGenre">Genre</label>
                        <input [(ngModel)]="NUEVO.genero" type="text" class="form-control" id="InputGenre">
                    </div>
                    <div class="form-group">
                        <label for="InputNumber">Phone Number</label>
                        <input [(ngModel)]="NUEVO.telefono" type="text" class="form-control" id="InputNumber">
                    </div>
                    <div class="form-group">
                        <label for="InputAdress">Adress</label>
                        <input [(ngModel)]="NUEVO.direccion" type="text" class="form-control" id="InputAdress">
                    </div>
                    <div class="form-group">
                        <label for="InputType">User Type</label>
                        <input [(ngModel)]="NUEVO.tipo_usuario" type="number" class="form-control" id="InputAdress" placeholder="1- admin 2- suport">
                    </div>
                    <p style="padding-top: 10px;">Avatar</p>
                    <div class="custom-file">
                        <input [(ngModel)]="NUEVO.fotografia" (change)="onFileChanged($event)" type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile" data-browse="Image">Choose File</label>
                    </div>
                    <button class="btn btn-primary" (click)="insertarUsuario()">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12" *ngIf="actualizar == true">
            <div class="card border-info mb-3" style="max-width: 35rem;">
                <div class="card-header">Update User</div>
                <div class="card-body text-info">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input [(ngModel)]="UP_USER.nombre" type="text" class="form-control" id="InputName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input [(ngModel)]="UP_USER.apellido" type="text" class="form-control" id="InputLastName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input [(ngModel)]="UP_USER.contrasenia" type="password" class="form-control" id="InputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="InputNumber">Phone Number</label>
                        <input [(ngModel)]="UP_USER.telefono" type="number" class="form-control" id="InputNumber">
                    </div>
                    <div class="form-group">
                        <label for="InputAdress">Adress</label>
                        <input [(ngModel)]="UP_USER.direccion" type="text" class="form-control" id="InputAdress">
                    </div>
                    <button class="btn btn-primary" (click)="updateUser(false, UP_USER.id_usuario)">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Genre</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of ELEMENT_DATA; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.apellido}}</td>
                        <td>{{usuario.correo}}</td>
                        <td>{{usuario.genero}}</td>
                        <td style="text-align: right;">
                            <button class="btn btn-info" (click)="upUsuario(true, usuario)">Update</button>
                            <button class="btn btn-warning" (click)="deleteUser(usuario.id_usuario)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
