<div class="container">
    <div class="row">
        <div class="col center-text">
            <h1 class="titulo-lp">Acces Denied</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="../../assets/nope.jpeg" alt="nope" style="max-width: 55%; margin-left: auto; margin-right: auto;display: block;">
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <a type="button" class="btn btn-primary btn-lg" href="/home">Home</a>
        </div>
    </div>
</div>
