<div class="container">
    <div class="card centrar" style="width: 30rem;">
        <img src="../../assets/logocb.png" class="card-img-top" alt="logo">
        <div class="card-body">
            <h5 class="card-title">Forget Password?</h5>
            <form action="">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input [(ngModel)]="correo" name="correo" type="email" class="form-control" id="formCorreo" aria-describedby="emailHelp">
                </div>
                <button (click)="cambiarPass()" class="btn btn-primary">Forget</button>
            </form>
        </div>
    </div>
</div>