<app-headerb></app-headerb>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card" style="width: 18rem; padding-top: 7px;">
                <img src="{{producto.imagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <p class="card-text"><span>$ </span>{{producto.precio}}</p>
                    <p class="card-text">{{producto.cantidad}}<span> units</span></p>
                    <button class="btn btn-info">add <i class="fas fa-shopping-cart"></i></button>
                    <button class="btn btn-dark" (click)="reseniaProducto()">review <i class="far fa-star"></i></button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h1 class="subtitulo-lp">My car</h1>
            <hr>
        </div>
    </div>
</div>
