<app-headerb></app-headerb>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="subtitulo-lp">Departaments</h1>
            <hr><br><br>
        </div>
    </div>
    <div class="row" *ngIf="nuevo == false">
        <div class="col text-center" style="padding-bottom: 15px;">
            <button  type="button" (click)="agregarCat()" class="btn btn-color btn-lg">New Departament <i class="fas fa-plus-square"></i></button>
        </div>
    </div>
    <div class="row" *ngIf="nuevo == true">
        <div class="col">
            <div class="card border-info mb-3" style="max-width: 35rem;">
                <div class="card-header">New Departament</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Info card title</h5>
                    <div class="form-group">
                        <label for="taName">Name</label>
                        <input [(ngModel)]="NEW_CAT.nombre" type="text" class="form-control" id="taName">
                    </div>
                    <div class="form-group">
                        <label for="taDesc">Description</label>
                        <textarea [(ngModel)]="NEW_CAT.descripcion" class="form-control" id="taDesc" rows="3"></textarea>
                    </div>
                    <button class="btn btn-primary" (click)="insertCategoria()">Submit</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-info mb-3" style="max-width: 35rem;">
                <div class="card-header">New Sub-Departament</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Info card title</h5>
                    <div class="form-group">
                        <label for="taName1">Name</label>
                        <input [(ngModel)]="NEW_SCAT.nombre" type="text" class="form-control" id="taName1">
                    </div>
                    <div class="form-group">
                        <label for="taDesc1">Description</label>
                        <textarea [(ngModel)]="NEW_SCAT.descripcion" class="form-control" id="taDesc1" rows="3"></textarea>
                    </div>
                    <p>Departament</p>
                    <select [(ngModel)]="nombre" class="form-control">
                        <option *ngFor="let categoria of PADRE_CAT">{{categoria.nombre}}</option>
                    </select>
                    <button (click)="insertSubCategoria()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="actualizar == true">
        <div class="col">
            <div class="card border-info mb-3" style="max-width: 35rem;">
                <div class="card-header">Update Departament</div>
                <div class="card-body text-info">
                    <h5 class="card-title"><span>Name: </span>{{UPD_CAT.nombre}}</h5>
                    <div class="form-group">
                        <label for="taDesc1">Description</label>
                        <textarea [(ngModel)]="UPD_CAT.descripcion" class="form-control" id="taDesc1" rows="3"></textarea>
                    </div>
                    <button class="btn btn-primary" (click)="updateDep(false)">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
              </tr>
            </thead> 
            <tbody>
              <tr *ngFor="let categoria of ELEMENT_DATA; index as i">
                <th scope="row">{{i}}</th>
                <td>{{categoria.nombre}}</td>
                <td>{{categoria.descripcion}}</td>
                <td style="text-align: right;">
                    <button class="btn btn-info" (click)="actDep(categoria, true)">Update</button>
                    <button class="btn btn-warning" (click)="deleteCategoria(categoria.id_categoria)">Delete</button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
