<app-headerb *ngIf="login == true"></app-headerb>
<app-header *ngIf="login == false"></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h6>Categories</h6>
            <hr>
            <div class="list-group" *ngFor="let element of PADRE">
                <button type="button" (click)="filtroCategoria(element.id)" class="list-group-item list-group-item-action">
                    <span><i class="fas fa-folder"></i> </span>
                    {{element.nombre}}
                </button>
                <div class="nested" *ngFor="let el of element.hijos">
                    <button type="button" (click)="filtroCategoria(el.id)" class="list-group-item list-group-item-action">
                        <pre>      <i class="fas fa-folder-open"></i> {{el.nombre}}</pre>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h1>All Items</h1>
            <hr>
            <div class="container-md">
                <div class="row row-cols-3">
                    <div class="col" *ngFor="let producto of ELEMENT_DATA">
                        <div class="card" style="width: 18rem; padding-top: 7px;">
                            <img src="{{producto.imagen}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{producto.nombre}}</h5>
                                <p class="card-text">Owner: {{producto.duenio}}</p>
                                <p class="card-text"><span>Price: $</span>{{producto.precio}}</p>
                                <p class="card-text">{{producto.cantidad}}<span> units</span></p>
                                <button *ngIf="login == true && usuario.tipo_usuario == 3" class="btn btn-info" (click)="seeProduct(producto)">view <i class="fas fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>